doctype=html
html
    script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")
    script(src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js")
    head
        style(type="text/css").
            .lab14 {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            #get_result {
                display: flex;
                flex-direction: column;
            }

            #itemList {
                border-collapse: collapse;
            }
        title Incidents
        button(onclick='get_incidents()') GET INCIDENTS
        a(href='/incidents/add') ADD
        script(id="itemTemplate" type="text/x-jquery-tmpl").
            <tr>
            <td>${IncidentID}</td>
            <td>${CustomerID}</td>
            <td>${ProductCode}</td>
            <td>${TechID}</td>
            <td>${DateOpened}</td>
            <td>${DateClosed}</td>
            <td>${Title}</td>
            <td>${Description}</td>
            <td><a href='/incidents/${IncidentID}'>Update</a></td>
            <td><button class="btnDelete">Delete</button></td>
            </tr>
        table(id="itemList" border="1")
            tbody
        script.
            function get_incidents() {
                console.log('get');
                fetch(`http://localhost:3000/api/incidents`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    }
                }).then(res => {
                    if (res.ok) {
                        return res.json();
                    } else {
                        alert("Error")
                    }
                }).then(data => {
                    console.log(data);
                    $("#itemList tr").remove();
                    $("#itemTemplate").tmpl(data).appendTo("#itemList tbody");
                    $(".btnDelete").on('click', function () {
                    console.log('clicked delete')
                    var currentRow = $(this).closest("tr");

                    var IncidentID = currentRow.find("td:eq(0)").html();

                    delete_incident(IncidentID);
                    });
                })
            }
            function delete_incident(IncidentID) {
                    fetch(`http://localhost:3000/api/incidents/${IncidentID}`, {
                        method: "DELETE",
                        headers: {
                            "Content-Type": 'application/json',
                            "Accept": 'application/json'
                        }

                    }).then(res => {
                        if (res.ok) {
                            return res.json();
                        } else {
                            alert("Error")
                        }
                    }).then((data) => {
                        console.log(data);
                    })
                }

